<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Service.Services.ChargingService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000/ChargingService" />
					</baseAddresses>
				</host>
				<endpoint
				  address=""
				  binding="netTcpBinding"
				  contract="Common.IChargingService"
				  bindingConfiguration="StreamingBinding"/>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="StreamingBinding"
						 maxReceivedMessageSize="2147483647"
						 maxBufferSize="2147483647"
						 transferMode="Buffered">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<appSettings>
		<add key="VoltageSpike" value="3.0" />
		<add key="CurrentSpike" value="1.5" />
		<add key="PowerFactor" value="0.98" />
	</appSettings>
</configuration>